@layer theme {
	:root {
		/* Colors */
		--primary-color-light: hsl(126deg 26% 85%);
		--primary-color-base: hsl(151deg 26% 40%);
		--primary-color-dark: hsl(150deg 26% 25%);
		--danger: hsl(360deg 47% 40%);
		--white: hsl(0deg 0% 100%);
		--primary-text: hsl(150deg 5% 20%);
		--secondary-text: hsl(150deg 5% 45%);
		--app-background: var(--primary-color-light);

		/* Font Families */
		--heading-font-family: 'Playfair Display', serif;
		--body-font-family: roboto, helvetica, arial, sans-serif;

		/* Type Ratio Major Third */
		--type-ratio: 1.25;

		/* Body Font Size */
		--body-font-size: 1rem;
		--body-font-size-small: calc(var(--body-font-size) / (var(var(--body-font-size) * var(var(--type-ratio)))));

		/* Headline Font Sizes --font-size-[LEVEL] */
		--font-size-4: calc(var(--body-font-size) * var(--type-ratio));
		--font-size-3: calc(var(--font-size-4) * var(--type-ratio));
		--font-size-2: calc(var(--font-size-3) * var(--type-ratio));
		--font-size-1: calc(var(--font-size-2) * var(--type-ratio));

		/* Font Weight */
		--font-weight-bold: 700;

		/* Layout default props */
		--layout-column-min: 30ch;
		--layout-gap: 3vmax;
		--block-flow-sm: min(2rem, 4vh);
		--block-flow-md: min(4rem, 8vh);
		--block-flow-lg: min(8rem, 16vh);
	}
}
